# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
ovalB.trackinfo
Baseline_snakeoil/__pycache__/snakeoil.cpython-36.pyc
__pycache__/custom_controller.cpython-36.pyc
__pycache__/
.vscode/settings.json
.idea/
report.log
.vscode/
Checkpoints/
Results/